{
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",

  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "parser": "json"
      }
    }
  ]
}